body{
    background-color: rgb(37, 37, 37);
}

.container{
    width: 50%;
}

.auth{
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 10px auto;
    padding: 50px;
    width: 50%;
}

.auth p{
    text-align: center;
    color: white;
}

.auth .btn-login{
    text-align: center;
    margin-right: 20px;
}

.content p {
    color: white;
    margin-left: 20px;
}

.tracks p{
    color: black;
    margin-left: 0;
}